# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE / Editors
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# MyPy & Pyre
.mypy_cache/
.pyre/
.pytype/

# Local environment files
.env
.env.*
